*{
    font-weight: 900;
    color: #ffff;
    font-size: 15px;
}

body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./HEROSCREEN-DESKTOP-HD.png);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    overflow: hidden; 
}

.screen-container {
    border: 3px solid #ffffff27;
    background-color: #ffffff27;
    border-radius: 10px;
    margin-bottom: 1em;
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    width: 280px;
    height: 50px;
    font-size: 2.5em;
    overflow-y: scroll;
}

button {
    width: 3.5em;
    height: 5.5em;
    border: 2px solid #ffffff27;
    border-radius: 5px;
    margin: 2px;
    background-color: #ffffff27;
}

.zero{
    width: 11.5em;
}

.math{
    background-color: #FF9205;
    color: white;
}




@media only screen and (max-width: 768px) {
    .screen-container {
        margin-bottom: 0.5em;
        width: 290px;
        height: 70px;
    }
    
    .screen {
        width: 250px;
        height: 50px;
        font-size: 1.5em;
    }
    
    button {
        width: 4.5em;
        height: 4em;
    }
    
    .zero{
        width: 9.5em;
    }
    
}

@media only screen and (max-width: 290px) {
    .screen-container {
        margin-bottom: 0.5em;
        width: 100%;
        height: 70px;
    }
    
    .screen {
        width: 80%;
        height: 50px;
        font-size: 1.5em;
    }
    
    button {
        width: 25%;
        height: 4em;
    }
    
    .zero{
        width: 50%;
    }
    
}